tbody tr:nth-child(odd) {
    background: lightgray;
}

label {
    font-weight: bold;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}